/****** Object:  Table [dbo].[DailyMTM]    Script Date: 2021/11/01 15:32:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyMTM](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileDate] [date] NOT NULL,
	[Contract] [nvarchar](50) NOT NULL,
	[ExpiryDate] [date] NOT NULL,
	[Classification] [nvarchar](50) NOT NULL,
	[Strike] [float] NOT NULL,
	[CallPut] [nvarchar](50) NULL,
	[MTMYield] [float] NOT NULL,
	[MarkPrice] [float] NOT NULL,
	[SpotRate] [float] NOT NULL,
	[PreviousMTM] [float] NOT NULL,
	[PreviousPrice] [float] NOT NULL,
	[PremiumOnOption] [float] NULL,
	[Volatility] [float] NOT NULL,
	[Delta] [float] NOT NULL,
	[DeltaValue] [float] NOT NULL,
	[ContractsTraded] [float] NOT NULL,
	[OpenInterest] [float] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DailyMTM] ON 
GO
INSERT [dbo].[DailyMTM] ([Id], [FileDate], [Contract], [ExpiryDate], [Classification], [Strike], [CallPut], [MTMYield], [MarkPrice], [SpotRate], [PreviousMTM], [PreviousPrice], [PremiumOnOption], [Volatility], [Delta], [DeltaValue], [ContractsTraded], [OpenInterest]) VALUES (1, CAST(N'2021-01-04' AS Date), N'5Y STND', CAST(N'2021-12-21' AS Date), N'Interest Rate Swap', 0, NULL, 90.36, 90.36, 0, 90.37, 90.37, NULL, 0, 0, 0, 0, 51)
GO
INSERT [dbo].[DailyMTM] ([Id], [FileDate], [Contract], [ExpiryDate], [Classification], [Strike], [CallPut], [MTMYield], [MarkPrice], [SpotRate], [PreviousMTM], [PreviousPrice], [PremiumOnOption], [Volatility], [Delta], [DeltaValue], [ContractsTraded], [OpenInterest]) VALUES (2, CAST(N'2021-01-04' AS Date), N'AL37', CAST(N'2021-02-04' AS Date), N'Index Future', 0, NULL, 794.35, 794.35, 0, 790.54, 790.54, NULL, 0, 0, 0, 0, 0)
GO
INSERT [dbo].[DailyMTM] ([Id], [FileDate], [Contract], [ExpiryDate], [Classification], [Strike], [CallPut], [MTMYield], [MarkPrice], [SpotRate], [PreviousMTM], [PreviousPrice], [PremiumOnOption], [Volatility], [Delta], [DeltaValue], [ContractsTraded], [OpenInterest]) VALUES (3, CAST(N'2021-01-04' AS Date), N'AL37', CAST(N'2021-05-06' AS Date), N'Index Future', 0, NULL, 802.37, 802.37, 0, 798.53, 798.53, NULL, 0, 0, 0, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[DailyMTM] OFF
GO
